.slick-prev, .slick-next{
    display: none !important;
}

/*Header & Nav styling */

  
  .header,.user-header{
    margin-left: -2px !important;
    margin-right: 0 !important;
    box-shadow: none !important;
  }
  
  .header,.user-header {
    /* position: fixed; */
    height: 75px;
    background: #fff;
    z-index: 1000;
  }
  
  .header:before ,.user-header:before{
    content: "";
    display: block;
    position: absolute;
    width: 45%;
    height: 75px;
    left: 50%;
    top: 0;
    border-bottom-left-radius: 36% 100%;
    z-index: 1;
  
  }
  .header:before{
      background-color: #071D67;
  }
  
  .header:after,.user-header:after {
    content: "";
    display: block;
    position: absolute;
    width: 45%;
    height: 75px;
    left: 55%;
    top: 0;
    border-bottom-left-radius: 36% 100%;
    z-index: 3;
  
  }
  .header:after{
      background-color: #556FC4;
  }
  
  .nav-row:before,.nav-user-row:before {
    content: "";
    display: block;
    position: absolute;
    width: 45%;
    height: 75px;
    left: 53%;
    top: 0;
    border-bottom-left-radius: 36% 100%;
    z-index: 2;
  }
  .nav-row:before{
      background-color: #2144B9;
  }
  
  .navbar{
      z-index: 4;
      background: transparent;
  }
  
  .fa-bell{
    color: #000;
  }
  
  .logout-text, .user-msg{
    display: none;
  }
  
  .global-search{
     right: 50%;
     top: 7px;
     border: 1px solid #556FC4 !important;
     border-radius: 4em !important;
   }
  .search-rounded{
    border: 1px solid #556FC4 !important;
    border-radius: 4em !important;
    width: 320px !important;
  }
  
  .navbar-brand{
    width:20%;
  }
  
  .griz-logo{
    width:95%;
  }

  .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    cursor: pointer;
  }
  /*Used for nav bar */
  #btn-rounded{
    border-radius: 4em;
    padding-top: .375rem;
    padding-bottom: .375rem;
  }
  
  
  .main{
    position: absolute;
    margin-top: 40px;
    padding-top: 50px;
    width: 100%;
  }
  .nav-user-row:before {
      background-color: #ffb732;
  }
  
  .user-header:after{
      background-color: #ffd27f ;
  }
  .user-header:before{
      background-color:#ffae19;
  }
  .global-search-user{
      right: 60%;
      top: 7px;
      border: 1px solid #ffb732 !important;
      border-radius: 4em !important;
  }
  .user-search-rounded{
      border: 1px solid #ffb732 !important;
      border-radius: 4em !important;
      width: 450px !important;
  }
  .login-button,.signup-button:hover{
      color: #17a2b8 !important;
      border-radius: 4em !important;
      background-color: #fff !important;
      border-color: #17a2b8 !important;
  }
  .login-button:hover,.signup-button {
      color: #fff !important;
      background-color: #17a2b8 !important;
      border-color: #17a2b8 !important;
  }

  .rewards-panel{
    background-color: #004890;
    margin-top: 65px;
  }
  
  .rewards-text{
       color: white;
      font-size: 30px;
      text-align: center;
      padding: 14px;
      font-weight: 300;
      text-align: center; letter-spacing: 3px;    text-align: center;
      letter-spacing: 3px;
      width: 100%;
  }