.filter-title {
    margin-bottom: 6px;
    color: #333;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
}

.filter-group label {
    cursor: pointer;
    font-size: 0.75rem;
    padding: 2px 0px 0px 6px;
    margin: 2px 0px 0px 0px;
    color: #636363;
    align-items: center;
    display: flex;
    line-height: 1.2;
}

.filter-group label input {
    margin-right: 6px;
}