.sale-panel{
    background-position-y: -300px;
    margin-top: 35px;
    background-image: url("./../../../assets/winter-sale-wo-title.png");
    background-color: #cccccc;
    min-height: 500px;
    position: relative;
}

.center-align{
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.image-centered{
    margin-top: 10%;
    margin-bottom: 10%;
    border: 1px solid #eee;
}
    
.sale-title{
    font-size: 7em;
    color: red;
    text-align: center;
    position: absolute;
  
    font-weight: bold;
    letter-spacing: 5px;
    font-family: Arial;
}
    
.sale-sub{
    font-size: 3em;
    color: red;
    text-align: center;
    position: absolute;
    margin-top: -45px;
    font-weight: 300;
    letter-spacing: 10px;
    font-family: Arial;
}
      
@media (max-width: 768px) {
.sale-title{
    font-size: 5em;
    margin-top: 0px;
}
.sale-sub{
    font-size: 3em;
    margin-top: -45px;
}
}

@media (max-width: 400px) {
.sale-title{
    font-size: 4em;
    margin-top: 0px;
}
.sale-sub {
    font-size: 2em;
    margin-top: -14px;
    letter-spacing: 3px;
}
}

/*Snowflakes*/
.flakes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
  
    transform: translate(0, -20vh);
    transform: translate3d(0, -20vh, 0);
  
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 53px;
  }
  
  .flakes div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    
  }
  
  .flakes i {
    display: inline-block;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    animation: falling;
    animation-iteration-count: infinite;
    background-size: contain;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    background-image: url("./../../../assets/snow.png");
  }
  .flakes i:nth-child(4n+0) {
    width: 130px;
    height: 130px;
    transform-origin: -5% -5%;
  }
  .flakes i:nth-child(4n+1) {
    width: 97px;
    height: 97px;
    transform-origin: 15% 0;
  }
  .flakes i:nth-child(4n+2) {
    width: 65px;
    height: 65px;
    transform-origin: 0 -30%;
  }
  .flakes i:nth-child(4n+3) {
    width: 32px;
    height: 32px;
    transform-origin: -100% -100%;
  }
  
  .flakes i:first-child {
    transform-origin: 60% 40%;
  }
  .flakes i:nth-of-type(5n+0) {
    animation-delay: 0s;
  }
  .flakes i:nth-of-type(5n+1) {
    animation-delay: 1s;
  }
  .flakes i:nth-of-type(5n+2) {
    animation-delay: 2s;
  }
  .flakes i:nth-of-type(5n+3) {
    animation-delay: 3s;
  }
  .flakes i:nth-of-type(5n+4) {
    animation-delay: 4s;
  }
  .flakes i:nth-child(3n+0) {
    animation-duration: 6s;
  }
  .flakes i:nth-child(3n+1) {
    animation-duration: 9s;
  }
  .flakes i:nth-child(3n+2) {
    animation-duration: 12s;
  }
  .flakes i:nth-of-type(6n+0) {
    animation-timing-function: ease-in-out;
  }
  .flakes i:nth-of-type(6n+1) {
    animation-timing-function: ease-out;
  }
  .flakes i:nth-of-type(6n+2) {
    animation-timing-function: ease;
  }
  .flakes i:nth-of-type(6n+3) {
    animation-timing-function: ease-in;
  }
  .flakes i:nth-of-type(6n+4) {
    animation-timing-function: linear;
  }
  .flakes i:nth-of-type(6n+5) {
    animation-timing-function: cubic-bezier(0.2, 0.3, 0.8, 0.9);
  }
  .flakes i:nth-of-type(7n+0) {opacity: 0.5;}
  .flakes i:nth-of-type(7n+1) {opacity: 0.8;}
  .flakes i:nth-of-type(7n+2) {opacity: 0.3;}
  .flakes i:nth-of-type(7n+4) {opacity: 0.7;}
  .flakes i:nth-of-type(7n+6) {opacity: 0.6;}
  .flakes .snow-1024px,
  .flakes .snow-1280px,
  .flakes .snow-1366px,
  .flakes .snow-1440px,
  .flakes .snow-1600px,
  .flakes .snow-1800px,
  .flakes .snow-1920px {
    display: none
  }
  @media screen and (max-width:  767px) {
    .flakes {display: none}
  }
  @media screen and (min-width: 1024px) {
    .flakes .snow-1024px {display: inline-block}
  }
  @media screen and (min-width: 1280px) {
    .flakes .snow-1280px {display: inline-block}
  }
  @media screen and (min-width: 1366px) {
    .flakes .snow-1366px {display: inline-block}
  }
  @media screen and (min-width: 1440px) {
    .flakes .snow-1440px {display: inline-block}
  }
  @media screen and (min-width: 1600px) {
    .flakes .snow-1600px {display: inline-block}
  }
  @media screen and (min-width: 1800px) {
    .flakes .snow-1800px {display: inline-block}
  }
  @media screen and (min-width: 1920px) {
    .flakes .snow-1920px {display: inline-block}
  }
  @keyframes falling {
    from {
      transform:
        translate(0, 0)
        rotate(0deg)
        scale(0.8);
    }
    to {
      transform:
        translate(0vh, 70vh)
        rotate(360deg)
        scale(1.2);
        opacity: 0;
    transition: visibility 0s 10s, opacity 10s linear;
    }
  }
